[submodule "air_collect"]
	path = air_collect
	url = https://github.com/roboto84/air_collect
[submodule "wh00t_server"]
	path = wh00t_server
	url = https://github.com/roboto84/wh00t_server
[submodule "air_bot"]
	path = air_bot
	url = https://github.com/roboto84/air_bot
[submodule "lexicon_bot"]
	path = lexicon_bot
	url = https://github.com/roboto84/lexicon_bot
[submodule "gopher_bot"]
	path = gopher_bot
	url = https://github.com/roboto84/gopher_bot
[submodule "arcadia_bot"]
	path = arcadia_bot
	url = https://github.com/roboto84/arcadia_bot
[submodule "bind_ui"]
	path = bind_ui
	url = https://github.com/roboto84/bind_ui.git
[submodule "bind_api"]
	path = bind_api
	url = https://github.com/roboto84/bind_api.git
